/* styles.css */
/* box-shadow: inset 0 0 0 100vh var(--secondary-color-transparent), 1px 1px 2px 1px black; */
:root {
    --logo-color: #e1ceb2;
    --nav-colors: #6f3e34;
    --nav-colors-transparent: #6f3e34bb;
    --grey: #565045;
    --copper: #3f1e17;
    --moss: #4f5127;
    --tan: #CFB895;
    --tan-transparent: #cfb895aa;
    --bg-color: #F0F4F4;
    --text-color-primary: black;
    --text-color-secondary: #5C5C5C;
    --button-hover-color: #0653be;
    --border-color: #D1D8D8;
}

body {
    background-color: var(--tan);
}

#main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}

#main-container>footer {
    margin-top: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    background-color: var(--copper);
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.header-logo h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #e1ceb2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-shadow: 3px 5px 2px black;
}

header img {
    width: 4rem;
    height: auto;
    display: flex;
    margin-left: 4rem;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    margin-right: 4rem;
}

nav>button {
    width: 10rem;
    height: 75%;
    border: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-shadow: 1px 1px 0px black;
    color: var(--tan);
    background-color: var(--nav-colors);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
}

nav>button:hover {
    height: 100%;
    color: var(--nav-colors);
    background-color: var(--tan);
    border-top: none;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--logo-color);
    width: 100%;
    height: 5rem;
    background-color: var(--copper);
}

footer p {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    background-color: var(--tan);
}

/* Home page styles */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 2rem 3rem;
    border-radius: 2rem;
    background-image: url(../imgs/home-image.jpg);
    background-size: 155rem 75rem;
}

.home-container h1 {
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 900;
    font-family: cursive 'Times New Roman', Times, serif;
    color: var(--text-color-primary);
    text-decoration: underline;
    background-color: var(--tan-transparent);
}

.home-container h2 {
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    word-spacing: 0.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: var(--tan-transparent);
    padding-bottom: 1rem;
}

.home-container p {
    padding: 0.5rem;
    border: 1px dashed var(--text-color-primary);
    font-size: 1.5rem;
    font-family: cursive;
}

/* Menu page styles */
#menu-container {
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 80vh;
    margin: 2rem 20rem;
    border-radius: 2rem;
    background-image: url("../imgs/menu-image.jpg");
    background-size: 120rem 75rem;
    background-repeat: no-repeat;
}

#menu-container h1 {
    color: var(--moss);
    -webkit-text-stroke: 3px var(--tan);
    padding-top: 1.5rem;
    font-size: 4rem;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.4rem;
    padding-bottom: 1rem;
    box-shadow: 0px 15px 10px -15px black;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem 2rem 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 15px 10px -15px black;
    background-color: var(--nav-colors-transparent);
}

.menu-section-title {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2rem;
    font-size: 2.8rem;
    font-weight: 900;
    color: var(--moss);
    -webkit-text-stroke: 2px var(--tan);
    margin-top: 1rem;
}

/* Card Styles */
.card {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 0.2rem solid black;
    border-radius: 2rem;
}

.card-title {
    color: var(--moss);
    font-size: 2rem;
}

.card-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
}

.card-price {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: cursive;
}

.card-image {
    margin: 0.6rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 2px var(--secondary-color);
}

/* about page styles */
#about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 80vh;
    margin: 2rem 3rem;
    background-image: url(../imgs/smirkpub.jpg);
    /* box-shadow: inset 0 0 0 100vh var(--tan-transparent), 0px 0px 5px 5px black; */
    border-radius: 2rem;
}

#about-container h1 {
    padding-top: 1.5rem;
    font-size: 4rem;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2rem;
    padding-bottom: 2rem;
    color: var(--moss);
    -webkit-text-stroke: 3px var(--tan);
}

#about-info-container {
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    background-color: var(--tan-transparent);
    width: 50vw;
    height: auto;
    border: 2px solid black;
}

#about-info-container p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    padding: 1.4rem;
}

/* Form page styles */
#form-container {
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    text-align: center;
    width: 40rem;
    height: 80vh;
    margin: 2rem 3rem;
    box-shadow: inset 0 0 0 100vh var(--secondary-color-transparent), 0px 0px 5px 5px black;
    border-radius: 2rem;
}

#form-container h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1rem;
}

#form-container p {
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 15px 10px -15px black;
    margin-bottom: 2rem;
}

#contact-form {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#contact-form label {
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: capitalize;
}

#contact-form input {
    height: 3rem;
    width: 16rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 5px var(--secondary-color);
    padding-left: 1rem;
    margin-bottom: 1rem;
}

#contact-form textarea {
    resize: vertical;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    width: 70%;
    height: 20rem;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 5px var(--secondary-color);
    padding: 1rem;
    margin-bottom: 1rem;
}

#contact-form input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-colors);
    color: var(--tan);
    padding: 0;
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
    font-weight: 900;
}

#contact-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--tan);
    color: var(--nav-colors);
    border-color: var(--nav-colors);
}

.active {
    height: 100%;
    color: var(--nav-colors);
    background-color: var(--tan);
    border-top: none;
}